<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISecuritySoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://52.166.136.195:80/ws" binding="basicHttpBinding"
                bindingConfiguration="ISecuritySoap11" contract="isecurity.ISecurity"
                name="ISecuritySoap11" />
        </client>
    </system.serviceModel>
</configuration>